$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// Extra Large (xl)
// Changes apply to screens LESS than 1400px (1399.98px down to 0px)
@media (max-width: 1399.98px) {
}

// Large (lg)
// Changes apply to screens LESS than 1200px (1199.98px down to 0px)
@media (max-width: 1199.98px) {
    .trip-details {
        grid-template-columns: 1fr;
    }
}

// Medium (md)
// Changes apply to screens LESS than 992px (991.98px down to 0px - Tablets/Laptops)
@media (max-width: 991.98px) {
    .trip-details {
        grid-template-columns: 1fr 1fr;
    }
}

// Small (sm)
// Changes apply to screens LESS than 768px (767.98px down to 0px - Mobile landscape)
@media (max-width: 767.98px) {
    .sidebar-sticky {
        border-radius: 35px;
        position: static;
        overflow-y: hidden;
        margin-bottom: 30px;
        max-height: max-content;
        display: flex;
        justify-content: center;
    }
}

// Extra Small (xs)
// Changes apply to screens LESS than 576px (575.98px down to 0px - Mobile portrait)
@media (max-width: 575.98px) {
    .destinations__content {
        .feature {
            gap: 5px;
        }
        .left {
            width: 30%;
            font-size: 0.9rem;
        }

        .mid {
            width: 60%;
        }

        .right {
            width: 10%;
            text-align: right;
            font-size: 0.9rem;
        }
    }
}
